@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

*{
  padding: 0;
  margin: 0;
}
body{
  background-image: url('./images/background.jpeg');
  font-family: 'Roboto ', sans-serif;
  background-color: aliceblue;
  background-size: cover;
  background-repeat: no-repeat;
  
  animation-name: bgmove;
  animation-duration: 60s; /* Or however long you want the animation to take */
  animation-timing-function: ease-out; /* To make the zoom-out effect smoother */
  animation-fill-mode: forwards; /* So that it stays at the final frame of your animation */
  animation-iteration-count: infinite; /* Animation will run only once */
}

@keyframes bgmove{
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
.container1{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 90px;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#title{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  color: green;
  font-size: 25px;
}

#title h1,
.heading {
  font-family: 'Sedan',sans-serif;
  font-weight: 700;
}



#P{
display: flex;
justify-content: center;
padding: 1rem;
font-size: 24px;
text-align: center;
font-weight: 400;
}
#P p {
  line-height: 40px;
}
#button{
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: relative;
  border-radius: 10px !important;
}

form{
  position: absolute;
  top: -200px;
  width: 25%;
  padding: 2rem;
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(7, 14, 19);
}
#form1{
  display: none;
}
#left{
  display: flex;
  cursor: pointer;
  color: red;
}

.ver{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
label{
  font-size: 20px;
  color: rgb(26, 122, 225);
}
input{
  padding: 0.8rem;
  border: 1px solid lightblue;
  outline: none;
}
button{
  padding: 1rem;
  width: 200px;
 
  background: none;
  background: linear-gradient(to right, rgb(11, 91, 64), rgb(26, 122, 225));
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px !important;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.7s;
}
button:hover{
  background: linear-gradient(to right,  rgb(26, 122, 225) ,rgb(11, 91, 64));
  transition: 0.7s;
}




/* for the second container */

* {box-sizing:border-box}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.container2{
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
  padding-bottom: 50px;
}
.heading{
 display: flex;
 justify-content: center; 
 padding: 2rem;
 color: blue;
}




.shortnote{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  
}

/* 2 carousel */

.container3{
  
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 2rem;
  color: white;
}

footer{
  display: flex;
  height: 20vh;
  padding-top: 3rem;
}



img{
  border-radius: 10px;
  
}

.carousel-inner{
  
  width: 80% !important;
}



.carousel-item img{
  background-color: transparent;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#carouselExampleSlidesOnly1,#carouselExampleSlidesOnly2{
  display: flex;
  justify-content: center;
  height: fit-content;
}

@media (max-width: 500px){
  .carousel-inner{
  
    width: 100% !important;
  }

  .container1{
    gap: 20px;
    padding: 1rem;
  }
  .container2{
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
  }
  .container3{
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
  }
  #title h1 {
    font-size: 24px;
  }
  .heading {
    font-size: 15px;
  }
  .shortnote{
    font-size: 22px;
  }
  form{
    position: absolute;
    top: -200px;
    width: 90%;
    padding: 2rem;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    background-color: black;
  }
}